body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.525rem;
  margin: 50px auto 0 auto;
  color: #0f4c75;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #0f4c75;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #056676;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tr {
  text-align: center;
  padding: 10px;
}

td {
  padding: 10px;
}

hr {
  border: dotted #1b262c 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #c8d5b9;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 20px;
}

a:hover {
  color: #eaf6f6;
}

/****************************Element Styles******************************/
.top-container {
  background-color: #68b0ab;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #84a9ac;
  position: relative;
  padding: 100px 0;
}

.bottom-container {
  background-color: #3b6978;
  position: relative;
  padding: 50px 0 20px;
}

.technical {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  border: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.experience {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer {
  width: auto;
  float: left;
  margin-right: 30px;
}

.skill {
  width: auto;
  float: right;
  padding-left: 30px;
}

.skills-headline {
  text-align: right;
}

.profile-paragraph {
  text-align: left;
  margin: auto;
  width: 50%;
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/******************************Class Styles******************************/
